---
import { GET } from './api/search.ts'
import './styles.css'

const query = Astro.url.searchParams.get('query') || '';
const page = parseInt(Astro.url.searchParams.get('page') || '0');

const response = await GET(Astro);
const data = await response.json();

interface Book {
    title: string,
    description: string
};

const books: Book[] = data.books;
const totalPages = Math.ceil(data.bookCount[0].value / 4)
---

<h2>Book Database</h2>

<form action="/search/" method="get">
    <input type="text" name="query" placeholder="Search..." value={query}>
    <button type="submit">Search</button>
</form>

{books.map(({ title, description }) => (
    <div class="book-item">
        <p><strong>{title}</strong></p>
        <p>{description}</p>
    </div>
))}

<div class="pagination">
    <button disabled={page === 0} onclick={`window.location.href='/search/?query=${query}&page=${page-1}'`}>Previous</button>
    <span>Page {page + 1} of {totalPages}</span>
    <button disabled={page === totalPages - 1} onclick={`window.location.href='/search/?query=${query}&page=${page+1}'`}>Next</button>
</div>
